* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0e1421;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  height: 100vh;
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(225, 225, 225, 0.05);
  width: 4.5rem;
  margin: 2rem 1rem;
  padding: 0.5rem 0;
  border-radius: 20px;
}

.Logo, .Menu, .Logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  border-radius: 15px;
}

.Logo img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(6782%) hue-rotate(264deg) brightness(97%) contrast(90%);
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

.Menu img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(6782%) hue-rotate(264deg) brightness(97%) contrast(90%);
  width: 25px;
  height: 50px;
  object-fit: contain;
}

.Logout img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(6782%) hue-rotate(264deg) brightness(97%) contrast(90%);
  width: 25px;
  height: 50px;
  object-fit: contain;
}

.Menu img:hover, .Logout img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.Main {
  width: 100%;
  margin: 2rem 1rem 2rem 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Header {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.Search {
  background-color: rgba(225, 225, 225, 0.05);
  height: 60px;
  width: 30%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
}

.Search img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
  transform: scaleX(-1);
  margin: 0 0.5rem;
  opacity: 0.8;
}

.Search input {
  background-color: transparent;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1.12rem;
  opacity: 0.8;
  outline: none;
}

.Search input::placeholder {
  color: #fff;
  font-size: 1rem;
  opacity: 0.5;
}

.User {
  background-color: rgba(225, 225, 225, 0.05);
  height: 60px;
  width: 25%;
  padding: 0 1rem 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
}

.UserData {
  height: 100%;
  width: 100%;
}

.UserDetails {
  height: 100%;
  border-radius: 50%;
}

.UserImage, .UserDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.UserImage {
  background-color: #742BEC;
  border-radius: 50%;
}

.UserImage img {
  filter: brightness(0) saturate(100%) invert(6%) sepia(18%) saturate(2105%) hue-rotate(183deg) brightness(92%) contrast(95%);
  padding: 0.2rem;
  opacity: 0.8;
  border-radius: 50%;
}

.UserName {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  opacity: 0.8;
}

.User button {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 0.2rem;
  font-size: 1rem;
  opacity: 0.8;
  outline: none;
  cursor: pointer;
}

.Content {
  width: 100%;
  display: flex;
  flex: 1;
  border-radius: 15px;
  gap: 1.5rem;
}

.Weather {
  width: 60%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Highlight {
  width: 40%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Temperature {
  background-color: rgba(225, 225, 225, 0.05);
  width: 100%;
  height: 50%;
  border-radius: 35px;
}

.TempContainer {
  display: flex;
  justify-content: space-between;
}

.Location {
  display: inline-flex;
  color: #fff;
  gap: 0.2rem;
  font-size: 1.1rem;
  background-color: #742BEC;
  border-radius: 35px;
  width: fit-content;
  height: 50px;
  margin: 2rem 0 0 2rem;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: center;
}

.Location img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.Forecast {
  background-color: rgba(225, 225, 225, 0.05);
  width: 100%;
  height: 50%;
  border-radius: 35px;
}

.TodaysHighlight {
  background-color: rgba(225, 225, 225, 0.05);
  width: 100%;
  height: 60%;
  border-radius: 35px;
}

.OtherCities {
  background-color: rgba(225, 225, 225, 0.05);
  width: 100%;
  height: 40%;
  border-radius: 35px;
}